[package]
name = "css-inline"
version = "0.10.0"
authors = ["Dmitry Dygalo <dadygalo@gmail.com>"]
edition = "2021"
license = "MIT"
readme = "../README.md"
description = "High-performance library for inlining CSS into HTML 'style' attributes"
repository = "https://github.com/Stranger6667/css-inline"
keywords = ["css", "html", "email", "stylesheet", "inlining"]
exclude = [".github", ".pre-commit-config.yaml", ".yamllint", ".gitignore", "tests"]
categories = ["web-programming"]
rust-version = "1.60"

[[bin]]
name = "css-inline"

[features]
default = ["cli", "http", "file"]
cli = ["pico-args", "rayon"]
http = ["attohttpc"]
file = []

[dependencies]
cssparser = "0.29"
html5ever = "0.26.0"
memchr = "2.5"
attohttpc = { version = "0", default-features = false, features = ["compress", "tls-rustls"], optional = true }
url = "2"
smallvec = "1"
indexmap = "1.9"
pico-args = { version = "0.3", optional = true }
rayon = { version = "1.7", optional = true }
selectors = "0.24.0"

[dev-dependencies]
assert_cmd = "2.0.6"
criterion = { version = "0.5.1", features = [], default-features = false }
test-case = "3.1.0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
once_cell = "1"

[[bench]]
name = "inliner"
harness = false

[profile.release]
lto = "fat"
codegen-units = 1
