[package]
name = "css-inline-python"
version = "0.10.1"
authors = ["Dmitry Dygalo <dadygalo@gmail.com>"]
edition = "2021"
rust-version = "1.60"
include = ["src/lib.rs", "README.md", "CHANGELOG.md", "build.rs"]

[lib]
name = "css_inline"
crate-type = ["cdylib"]

[build-dependencies]
built = { version = "0.6", features = ["chrono"] }

[dependencies.css-inline]
path = "../../css-inline"
version = "*"
default-features = false
features = ["http", "file"]

[dependencies]
url = "2"
rayon = "1"
pyo3 = { version = "0.19.0", features = ["extension-module", "abi3-py37"] }
pyo3-built = "0.4"

[profile.release]
codegen-units = 1
lto = "fat"
