h1, h2 { color:blue; }
h1, h2 { color:blue; }
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
h1, h2 { color:blue; }
h1, h2 { color:blue; }
h1, h2 { color:blue; }
h1, h2 { color:blue; }
h1, h2 { color:blue; }
h1, h2 { color:blue; }
h1, h2 { color:blue; }
h1, h2 { color:blue; }
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
h1, h2 { color:blue; }
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
strong { text-decoration:none }
p { font-size:2px }
p.footer { font-size: 1px}
