name: "[C] Release"

on:
  push:
    tags:
      - c-v*

jobs:
  c-release:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable

      - name: Extract Version
        run: echo "version=${GITHUB_REF#refs/tags/c-v}" >> $GITHUB_ENV

      - name: Build
        run: cargo build --release
        working-directory: ./bindings/c

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: false
          draft: true
          name: "[C] Release ${{ env.version }}"
          files: |
            bindings/c/target/release/libcss_inline.so
            bindings/c/css_inline.h
