name: "[Ruby] Release"

on:
  push:
    tags:
      - ruby-v*

jobs:
  ruby-release:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
          working-directory: ./bindings/ruby

      - name: Extract Version
        run: echo "version=${GITHUB_REF#refs/tags/ruby-v}" >> $GITHUB_ENV

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: false
          draft: true
          name: "[Ruby] Release ${{ env.version }}"

      - name: Publish to RubyGems
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          cd ./bindings/ruby
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{ secrets.RUBYGEMS_API_KEY }}"
